@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  height: 100%;
}
html :root {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
body :root {
  font-size:1.6rem
}